*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: white;
    font-size: 16px;
    font-style: normal;
}

/*h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    width: auto;
}

input,
button,
textarea {
    font: inherit;
}

.container {
    width: 1158px;
}*/

/*.header {
    display: flex;
        width: 1440px;
        height: 72px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    border-bottom: 1px solid #E7E9FC;
}*/
.header-nav-logo-black{
    color:#2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
   /*padding-left: 156px;
    padding-top: 25.5px;
    padding-bottom: 25.5;*/
}
.header-nav-logo{
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.header-menu-item-link{
    color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
       /* padding-top: 24px;
        padding-bottom: 24px;*/
}
.header-menu-item-link:hover,
.header-menu-item-link:focus {
    color: #404bbf;
}
.header-contact{
    font-style: normal
}
.header-contact-item-link{
    color: #434455;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.header-contact-item-link:hover,
.header-contact-item-link:focus{
    color: #404bbf;
}

.hero{
    background-color:#2E2F42;
}
.hero-title{
    color: #FFF;
        text-align: center;
        font-family: Roboto,sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
}
.hero-btn{
        color: #FFF;
        background-color: #4D5AE5;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.64px;
        cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}
.feature-list{
    background-color: #FFF;
}
.feature-item{
    background-color: #FFF;
}
.feature-item-title{
    color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}
.feature-item-text{
    color: #434455;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.team{
    background-color: #F4F4FD;
}
.team-list{
    background-color: #F4F4FD;
}
.team-item{
    background-color: #FFF;
}
.team-title{
    color: #2E2F42;
        text-align: center;
        font-family: Roboto,sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.team-item-name{
    color: #2E2F42;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}
.team-item-descr {
    color:#434455;
        text-align: center;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.portfolio-title{
    color: #2E2F42;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.portfolio-list{
    background-color: #FFF;
}
.portfolio-item{
    background-color: #FFF;
}
.portfolio-item-title{
    color: #2E2F42;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}
.portfolio-item-descr{
    color: #434455;
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.footer{
    background-color: #2E2F42;
}
.footer-logo-white{
    color: #f4f4fd;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-logo{
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-text{
    color: #F4F4FD;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}